body {
  text-align: center;
}
.face {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #ffe0bd;
  display: flex;
  transform: translate(0px, 0px);
}

.eye {
  border: 0.5px solid gray;
  border-radius: 50%;
  background-color: white;
  height: 100px;
  width: 75px;
  margin: 50px auto;
  position: relative;
  transition: all 0.2s linear;
  perspective: -300px;
  overflow: hidden;
  -moz-box-shadow: inset 0 0 15px #f69f9f;
  -webkit-box-shadow: inset 0 0 15px #f69f9f;
  box-shadow: inset 0 0 15px #f69f9f;
}

.eye-ball {
  border-radius: 50%;
  border: 1px solid black;
  height: 70px;
  width: 45px;
  position: absolute;
  top: -0.5vh;
  left: -0.3vh;
  bottom: 0;
  right: 0;
  background: white;
  transition: all 0.2s linear;
  transform: translate(15px, 20px);
  -moz-box-shadow: 0 0 15px #160101;
  -webkit-box-shadow: 0 0 15px #160101;
  box-shadow: 0 0 15px #160101;
  box-shadow: inset 0 0 15px #160101;
  transform-origin: 0 0;
}

.eye-ball-center {
  background: #160101;
  border-radius: 50%;
  border: 0.5px solid black;
  height: 35px;
  width: 22.5px;
  margin-top: 10px;
  transition: all 0.2s linear;
  transform: translate(15px, 20px);
  -moz-box-shadow: 0 0 15px #160101;
  -webkit-box-shadow: 0 0 15px #160101;
  box-shadow: 0 0 15px #160101;
  transform-origin: 0 0;
}

.footer {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
}
